/* font fix */
strong {
  font-weight: 600;
}

.navbar-brand {
  img {
    max-height: 50px; // larger than the default 42px
    max-width: calc(100vw - 80px); // In xs screens, the logo makes place for the navbar menu
  }
}

.navbar ul.nav>li>a {
  text-decoration: none;
}

// Features
section.features {
  .icon {
    font-size: 35px;
  }

  .box-simple {
    mark {
      $focus: 10%;
      margin: 0 -0.4em;
      padding: 0.1em 0.4em;
      border-radius: 0.8em 0.3em;
      background: transparent;
      background-image: linear-gradient(to right,
          /* Gradient direction: left to right */
          rgba(255, 217, 146, 0.1),
          /* Start with very transparent #ffd992 (soft yellow) */
          rgba(255, 153, 36, 0.4) var(--focus),
          /* Transition to a gentle #ff9924 (friendly orange) */
          rgba(255, 217, 146, 0.3)
          /* End with slightly transparent #ffd992 again */
        );

      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

// Events
section.events {
  div.event {
    max-width: 400px;
  }
}

// Content div, making it high enough for footer to be at bottom
#content {
  min-height: calc(100vh - 650px);
  margin-bottom: 100px;
}

// Angle-right icon for lists
ul.angle-right {
  --icon-size: .8em;
  --gutter: .5em;
  padding: 0 0 0 var(--gutter);

  li {
    padding-left: var(--gutter);

    &::marker {
      content: "\f105";
      font-family: FontAwesome;
      font-size: var(--icon-size);
    }
  }
}

// Openstreetmap iframe
iframe#directions-map {
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  aspect-ratio: 16 / 10;
  border: 0;
}

// Footer FontAwesome contact
#footer {
  .fa-solid, .fa-regular {
    margin-right: .4em;
  }
}
