.navbar-brand {
  img {
    max-height: 50px; // larger than the default 42px
    max-width: calc(100vw - 70px); // In xs screens, the logo makes place for the navbar menu
  }
}

.navbar ul.nav > li > a {
  text-decoration: none;
}

// Limit max width of carousel, which previously went crazy in small screens
.owl-wrapper {
  width: calc(100vw - 180px) !important;
}
