{{ $image := "../img/texture-bw.png" }}
{{- with .Params.header_image }}
    {{- $image = (resources.Get .image) }}
    {{- with .fill }}
        {{- $image = $image.Fill . }}
    {{- end }}
    {{- with .crop }}
        {{- $image = $image.Crop . }}
    {{- end }}
    {{- with .filter }}
        {{- $filters := slice }}
        {{- range . }}
            {{- range $method, $args := . }}
                {{- if eq $method "GaussianBlur" }}
                    {{- $filters = $filters | append (images.GaussianBlur $args) }}
                {{- else if eq $method "Brightness" }}
                    {{- $filters = $filters | append (images.Brightness $args) }}
                {{- else if eq $method "Grayscale" }}
                    {{- $filters = $filters | append images.Grayscale }}
                {{- else }}
                    {{ warnf "Unsupported filter: %s" $method }}
                {{- end }}
            {{- end }}
        {{- end }}
        {{ $image = $image.Filter $filters }}
    {{- end }}
{{- $image = $image.RelPermalink }}
{{- end }}
<div id="heading-breadcrumbs" style="--bg-image: url({{ $image }})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
