{{- if isset .Site.Params "events" }}
{{- if .Site.Params.events.enable }}
<section class="bar background-white no-mb events">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.events.title | markdownify }}</h2>
            </div>

            <p class="lead">
              {{- .Site.Params.events.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">
                {{/* Sort events by event date and limit the number of events to show on the homepage */}}
                {{- $events := sort (where .Site.RegularPages "Type" "in" .Site.Params.eventSections) ".Params.event_date" }}
                {{- $limit := (.Site.Params.events.limit | default 3) }}
                {{- range first $limit $events }}
                {{- if ge (time .Params.event_date).Unix now.Unix }}
                    {{/* Get banner image if existing, placeholder as fallback, scale 4:3 */}}
                    {{- $img := ""}}{{ with .Params.banner }}{{ $img = . }}{{ else }}{{ $img = "images/placeholder.png" }}{{ end }}
                    {{- $img = (resources.Get $img).Fill "400x300 center" }}
                    <div class="col-md-3 col-sm-6 center-block event">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image" style="overflow:hidden">
                                    <img src="{{ $img.RelPermalink }}" class="img-responsive" alt="" />
                                </div>
                                <a href="{{ .RelPermalink }}" title="{{ i18n "readMore" }}">
                                    <div class="date">{{ time.Format "2. January 2006" .Params.event_date }} </div>
                                    <div class="bg"></div>
                                </a>
                                {{/*  <div class="text">
                                    <p class="buttons">
                                        <a href="{{ .RelPermalink }}" class="btn btn-template-transparent-primary"><i class="fas fa-link"></i> {{ i18n "readMore" }}</a>
                                    </p>
                                </div>  */}}
                            </div>

                            <div class="content">
                                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                                <p class="author-category">
                                {{- if isset .Params "authors" }}
                                    {{- i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                                {{- end }}
                                {{- if .Params.date }}
                                    {{- $createdAt := .Date.Format .Site.Params.date_format }}
                                    {{- range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                        {{- $createdAt = replace $createdAt $month (i18n $month) }}
                                    {{- end }}
                                    {{- i18n "publishedOn" }} {{ $createdAt }}
                                {{- end }}
                                </p>
                                {{- if not .Site.Params.events.hide_summary }}
                                <p class="intro">{{ .Summary }}</p>
                                <p class="read-more">
                                <a href="{{ .RelPermalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                </p>
                                {{- end }}
                            </div>
                        </div>
                        <!-- /.box-image-text -->

                    </div> <!-- /event -->
                {{- end }}
                {{- end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{- end }}
{{- end }}
